@import './css/_dh-main.css';
:root {
  --dh-card-back: white;
  --brand: #17a2b8;
  --border: hsla(0, 0%, 50%, 0.5)
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dh-grid_breweries {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
}

.dh-grid_breweryBeers {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: minmax(300px, 2fr) 3fr;
}

.dh-grid_beers {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
}

.dh-form-grid {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: minmax(300px, 1fr) 3fr;
}

.dh-card-wrap {
  padding: 1rem;
  background: var(--dh-card-back);
  border-bottom: 1px solid var(--gray100);
}

.dh-card_brewery {
  /* padding: 0rem; */
}

.dh-card_brewery a {
  color: var(--dark);
}

.dh-card_brewery a:hover {
  /* color: greenyellow; */
  text-decoration: none;
}

.dh-card_brewery, .dh-card_beer {
  padding: 0rem;
}

.dh-card_brewery.card:hover {
  /* background: radial-gradient(#dcecff, #fff, #fff); */
  background: #f7fbff;
  box-shadow: 0 0 10px -5px grey;
}

.dh-card_brewery p, .dh-card_beer p {
  font-size: .85rem;
}

.dh-card_brewery .dh-card-background, .dh-card_beer .dh-card-background {
  background: var(--dh-card-back);
  height: 200px;
  max-height: 200px;
  border-radius: 0px;
}

a.badge-secondary {
  font-weight: normal;
  letter-spacing: 0.1ch;
  color: var(--light);
  background: var(--gray500);
}

a.badge-secondary:hover {
  background: var(--info) !important;
}

.dh-form-search {
  margin: 0;
}

.dh-form-search.input-group {
  width: 300px;
  display: table;
  outline: none;
  margin: 0;
}

.dh-form-search .input-group input.form-control {
  border: 0;
  color: var(--trans-black500);
  width: 294px;
  margin-left: 1.2rem;
}

.dh-form-search .input-group input.form-control::placeholder {
  color: var(--trans-black300);
}

.dh-admin-breweries h1, h2, h3, h4, h5, h6 {
  color: var(--brand);
}

.dh-admin-breweries h1 {
  font-size: 1.75rem;
}

.dh-admin-breweries h2 {
  font-size: 1.5rem;
}

.dh-admin-breweries h3 {
  font-size: 1.25rem;
}

.dh-admin-breweries h4 {
  font-size: 1.15rem;
}

.dh-admin-breweries h5 {
  font-size: 1rem;
}

.dh-admin-breweries h6 {
  font-size: .85rem;
}

.dh-admin-breweries .badge, .dh-admin-beers .badge {
  height: 1.25rem;
  padding: 0.0rem 0rem;
  font-size: 1.3rem;
  line-height: 0.8;
  font-weight: 300;
  border-radius: 2rem;
  cursor: pointer;
  margin-left: .5rem;
  background: var(--gray500);
}

.dh-admin-breweries .selected .badge.dh-add {
  height: 1.25rem;
  /* padding: 0.0rem 0rem; */
  font-size: 1.3rem;
  line-height: 0.8;
  font-weight: 300;
  border-radius: 2rem;
  cursor: pointer;
  margin-left: .5rem;
  background: var(--gray500);
  font-style: normal;
  width: 1rem;
  text-align: center;
  padding: 0rem 0.5rem 0 0.8rem;
}

.dh-admin-breweries .badge.dh-add:hover, .dh-admin-beers .badge:hover {
  background: var(--gray700);
  font-style: normal;
}

.dh-admin-breweries .selected .badge:hover {
  background: var(--gray700);
}

ul.dh-admin-breweries {
  position: relative;
  list-style: none;
  margin-left: 0;
  padding-left: 0em;
  text-indent: 0em;
}

ul.dh-admin-breweries li {
  text-indent: 0em;
  padding: 0.25rem .25rem .25rem 2.25rem;
  font-size: .85rem;
  line-height: 2;
  cursor: pointer;
  border-radius: .15rem;
  border: 1px solid var(--border);
}

ul.dh-admin-breweries li.dh-add {
  background: hsla(0, 0%, 85%, 0.85);
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
  background-color: #838e97;
  border: none;
  width: 100%;
  display: block;
  color: white;
}

ul.dh-admin-breweries li.dh-add:hover {
  background: hsla(0, 0%, 85%, 0.85);
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
  color: #fff;
  background: #52595f;
  width: 100%;
  display: block;
}

ul.dh-admin-breweries li.dh-add a {
  color: white;
  margin-left: 1.9rem;
}

ul.dh-admin-breweries li.dh-add a:hover {
  /* background: #52595f; */
}

ul.dh-admin-breweries li a {
  color: var(--gray700);
  text-decoration: none;
}

ul.dh-admin-breweries li a:hover {
  color: var(--black800);
  text-decoration: none;
  /* font-weight: 600; */
}

ul.dh-admin-breweries li:before {
  content: "🏬";
  position: absolute;
  font-style: normal;
  left: .6rem;
}

ul.dh-admin-breweries li.dh-add:before {
  content: "+";
  position: absolute;
  font-style: normal;
  left: .5rem;
  font-size: 1.6rem;
  line-height: 0.9;
  top: 0;
}

ul.dh-admin-breweries li.selected, ul.dh-admin-breweries li.selected a {
  color: var(--black800);
  font-weight: 600;
  font-style: italic;
  text-decoration: none;
}

ul.dh-admin-beers {
  position: relative;
  list-style: none;
  margin-left: -1.5rem;
  padding-left: 0em;
  text-indent: 0em;
  margin-bottom: .5rem;
}

ul.dh-admin-beers li {
  text-indent: -.5em;
  padding-left: 2.5em;
  font-size: .85rem;
  line-height: 1.5;
  cursor: pointer;
  /* border-radius: .15rem; */
  /* border: 1px solid var(--border); */
  border: none;
}

ul.dh-admin-beers li:hover {
  background: rgba(255, 217, 0, 0.75);
}

ul.dh-admin-beers li a {
  color: var(--gray700);
}

ul.dh-admin-beers li a:hover {
  color: var(--black800);
  text-decoration: none;
}

ul.dh-admin-beers li a:focus, ul.dh-admin-beers li a:active {
  outline: none;
  border: none;
}

ul.dh-admin-beers li:before {
  content: "🍺";
  position: absolute;
  font-style: normal;
  left: 0.5rem;
}

ul.dh-admin-beers li.dh-add:before {
  content: "+";
  position: relative;
  font-style: normal;
  left: 0.5rem;
  font-size: 1.6rem;
  line-height: 0;
  top: 0px;
}

ul.dh-admin-beers li.selected, ul.dh-admin-beers li.selected a {
  color: var(--black800);
  font-weight: 600;
  font-style: italic;
  text-decoration: none;
}

details {
  padding: .0rem 0.25rem;
  border: 1px solid var(--border);
  border-radius: 0.15rem;
}

details:focus {
  padding: .0rem 0.25rem;
  border: 1px solid var(--border);
}

details[open] {
  padding: .0rem 0.25rem;
  /* border: 1px solid var(--border); */
}

summary {
  padding: .0rem 0rem;
  font-size: .9rem;
}

details {
  border: none;
  outline: none;
}

details a {
  text-decoration: none;
}

details a:hover {
  text-decoration: underline;
}

summary {
  border: none;
  outline: none;
}

summary a {
  text-decoration: none;
}

summary a:hover {
  /* text-decoration: underline; */
  background: hsla(60, 100%, 50%, 0.5);
}

.dh-btn-delete {
  background: hsla(0, 0%, 48%, 0.75);
  border-radius: 2rem;
  font-size: 1.5rem;
  line-height: 0.6;
  float: right;
  border: none;
  padding: 0.2rem .5rem 0.65rem;
  color: white;
}

.dh-btn-delete:hover {
  background: hsla(0, 0%, 48%, 1);
}
