@import './css/_dh-main.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --dh-card-back: hsl(0deg 0% 87%);
}

.dh-card_brewery {
  padding: 0rem;
}

.dh-card_brewery p {
  font-size: .85rem;
}

.dh-card_brewery .dh-card-background {
  background: var(--dh-card-back);
  height: 200px;
  max-height: 200px;
  border-radius: 0px;
}

.dh-card-wrap {
  padding: 1rem;
  background: var(--dh-card-back);
}
